.nav-button {
   color: rgb(206, 206, 206);
   text-decoration: none;
   font-family: Montserrat;
   font-weight: bold;
   margin: 6px 6px;
   cursor: pointer;
}

.nav-button:hover {
    color: white;
}

.bi.bi-house {
    font-size: 30px;
}

.bi.bi-geo-alt, .bi.bi-envelope, .bi.bi-telephone{
    color: white;
    font-size: 16px;
    font-family: Montserrat;
    margin: 5px;
    font-style: normal;
}

.github-button, .linkedin-button, .youtube-button, .bi.bi-youtube {
    display: inline-block;
    color: rgb(150, 150, 150);
    font-size: 32px;
    width: 32px;
    height: 32px;
    margin: 6px;
    border: none;
}

.github-button:hover, .linkedin-button:hover, .bi.bi-envelope:hover, .youtube-button:hover, .bi.bi-youtube:hover {
    color: white;
}

.contact-button {
    display: inline-block;
    border-style: solid;
    border-color: rgb(40, 40, 40);
    border-width: 1px;
    width: 396px;
    height: 600px;
    overflow: hidden;
}

.contact-button:hover {
    background-color: rgb(40, 40, 40);
}

.contact-button i {
    color: rgb(206, 206, 206);
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.contact-button h2 {
    color: rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.contact-button:hover i, .contact-button:hover h2{
    color: white;
}